CompileFlags:
  Add: [-I, ../include, ../../include, /home/nfox/ti/ccs1281/ccs/tools/compiler/ti-cgt-arm_20.2.7.LTS/include, /home/nfox/ti/ccs1281/ccs/tools/compiler/ti-cgt-arm_20.2.7.LTS/lib/src]
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None
  Suppress: [-Wint-to-pointer-cast, -Wpointer-to-int-cast]

